body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#camera-feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ar-model {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}